spring:
  application:
    name: Spring Demo for Okten
  profiles:
    active: store1
  datasource:
    url: "jdbc:mysql://localhost:3306/table"
    username: "root"
    password: "12345678"
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  data:
    mongodb:
      uri: mongodb+srv://letniki:admin@cluster0.y379y.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      database: products-db
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${mail-sender}
    password: ${mail-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-3ye8hk3rxi1gafds.us.auth0.com/
logging:
  level:
    sun:
      rmi:
        transport:
          tcp: OFF